@{
  Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>
<p>@Html.ActionLink("Create a Patron account", "Index", "LibrarianAccount")</p>
<p>@Html.ActionLink("Create a Librarian account", "Index", "PatronAccount")</p>
<br>
<p>@Html.ActionLink("Patron log in", "Login", "PatronAccount")</p> 
<p>@Html.ActionLink("Librarian log in", "Login", "LibrarianAccount")</p>



@* <p>@Html.ActionLink("See all Authors", "Index", "Authors")</p>
<p>@Html.ActionLink("See all Books", "Index", "Books")</p> *@